@import "tailwindcss";
@font-face {
    font-family: font1;
    src: url(/public/Lausanne-300.woff2);
    
}
@font-face {
    font-family: font2;
    src: url(/public/Lausanne-500.woff2);
}
body{
    background: white;
}
.moveX{
    animation-name: moveAnimation;
     animation-duration:15s;
     animation-iteration-count: infinite;
  animation-timing-function: linear;

}
.moveX{
    opacity: 0;
}
.link:hover .moveX{
    opacity: 1;
    transition: all ease-in-out 0.3s;
}
@keyframes moveAnimation {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}