@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url("font1.woff2") format("woff2");
}

@font-face {
  font-family: font2;
  src: url("font2.woff2") format("woff2");
}

body{
    background: white;
    overflow-x: hidden;
}
.moveX{
    animation-name: moveAnimation;
     animation-duration:15s;
     animation-iteration-count: infinite;
  animation-timing-function: linear;

}
.moveX{
    opacity: 0;
}
.link:hover .moveX{
    opacity: 1;
    transition: all ease-in-out 0.3s;
}
@keyframes moveAnimation {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.stairparent {
    pointer-events: none;
}
.stair{
    background: rgba(128, 128, 128, 0.5); /* medium grey + transparency */
  backdrop-filter: blur(8px);           /* blur effect */
  -webkit-backdrop-filter: blur(8px);   /* Safari support */
}